* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
  width: 100%;
  background-color: #e7e4df;
}

#header {
  background-color: #e7e4df;
  font-size: 16px;
  display: none;
  /* 처음에는 숨김 */
  justify-content: space-between;
  height: 44px;
  position: fixed;
  /* 고정 */
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  /* 투명도 초기값 */
  z-index: 1000;
  /* 다른 요소보다 위에 위치 */
  transition: opacity 0.2s, transform 0.2s;
  /* 애니메이션 추가 */
}

.anim_section {
  height: 70vh;
}

#header > ul {
  list-style: none;
  display: flex;
  margin: 20px;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0px;
  border-bottom: 1px solid #000;
}

#header > ul > li {
  display: inline;
}

#header > ul > li > a {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
}

.wrap_container {
  padding: 0 20px 20px 20px;
}

.first_animation {
  display: flex;
  height: 36vw;
  /* 높이를 vw 단위로 설정 */
}

/* 각 anibox 설정, 전체 너비 대비 비율로 너비 설정 */
.anibox1,
.anibox2,
.anibox3,
.anibox5,
.anibox6,
.anibox7 {
  height: 36vw;
  /* 높이를 vw 단위로 설정 */
  background-color: #000000;
  flex-grow: 1;
  /* flex 사용하여 자동으로 너비 조절 */
}

.anibox4 {
  height: 36vw;
  background-color: #000000;
  transform: rotate(31.9deg);
  flex-grow: 1;
  background-image: url("../img/ani_bg.png");
}

/* 마진 설정, 비율로 조정 */
.anibox1 {
  margin-left: 3.125vw;
  margin-right: 0.729vw;
}

.anibox2 {
  margin-right: 8.333vw;
}

.anibox3 {
  background-image: url("../img/ani_bg.png");
}

.anibox5 {
  background-image: url("../img/ani_bg.png");
}

.anibox6 {
  margin-left: 8.333vw;
}

.anibox7 {
  margin-right: 3.125vw;
  margin-left: 0.729vw;
}

.first_section {
  max-width: 1920px;
  background-color: #e7e4df;
}

.first_top_wrap {
}

.first_top_line1 {
  width: 100%;
  height: 50px;
  background-color: #e7e4df;
}

.first_top_line2 {
  width: 100%;
  height: 75px;
  background-color: #000000;
  padding: 20px 0px;
}

.first_bottom_wrap {
}

.nav {
  background-color: #e7e4df;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  height: 44px;
  position: relative;
  border-bottom: 1px solid #000000;
}

.nav > ul {
  position: absolute;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2px;
  bottom: 0;
}

.nav > ul > li {
  display: inline;
}

.nav > ul > li > a {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
}

.bottom_wrap {
  display: flex;
  height: 992px;
  border-bottom: 1px solid #000;
  position: relative;
}

.bottom_line1 {
  width: 479px;
  height: 992px;
  border-right: 1px solid #000000;
}

.bottom_line2 {
  width: 297px;
  height: 992px;
  border-right: 1px solid #000000;
}

.bottom_line3 {
  width: 473px;
  height: 992px;
  border-right: 1px solid #000000;
}

.bottom_line4 {
  width: 628px;
  height: 992px;
}

.introduction {
  position: absolute;
  font-size: 5.6vw;
  font-weight: bold;
  line-height: 86%;
  text-align: justify;
  /* Not supported by the browser. */
  text-transform: uppercase;
  letter-spacing: 0px;
  z-index: 2;
  font-family: "San Francisco";
  margin-top: 2vw;
}

.second_section {
  height: 100%;
}

.second_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1%;
}

.projectimg_1,
.projectimg_2,
.projectimg_3 {
  width: 33.3333%;
  margin-top: 2vw;
  height: 100vh;
}

.projectimg_1 img,
.projectimg_2 img,
.projectimg_3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectimg_1 {
  z-index: 3;
}

.projectimg_2 {
  z-index: 2;
}

/* project1 codepin  */

.project1_codepin {
  width: 100%;
  height: calc(100vh - 44px);
  background-color: #e7e4df;
}

.project1_codepin_wrap {
  display: flex;
  gap: 1%;

  .projecn1_left_wrap {
    width: 50%;
    height: calc(100vh - 44px);

    .project1_title {
      width: 100%;
      margin-top: 28px;

      .pr1_codepin {
        font-size: 10vw;
        font-family: "SF Pro Display";
        font-weight: 30;
        line-height: 86%;
      }

      .pr1_project {
        font-size: 10vw;
        font-family: "SF Pro Display";
        font-weight: 30;
        line-height: 94%;
      }
    }

    .project1_line_wrap {
      width: 100%;
      margin-top: 2.3vw;

      .project1_line {
        width: 34vw;
        height: 1px;
        background-color: #000;
      }

      .project1_line_info {
        width: 34vw;
        display: flex;
        justify-content: space-between;
        margin-top: 6px;

        .pj_line_title {
          font-size: 18px;
          font-family: "Roboto";
          font-weight: normal;
          letter-spacing: -0.36px;
          line-height: 22px;
          text-transform: uppercase;
        }

        .pj_line_arrow img {
          line-height: 22px;
        }
      }
    }
  }

  /* //projecn1_left_wrap */

  .project1_right_wrap {
    width: 16.7777%;
    height: calc(100vh - 44px);
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
  }

  .pj1_skill {
    display: flex;
    flex-direction: column;

    .pj1_skill_title {
      font-size: 18px;
      color: #000;
      line-height: 22px;
      letter-spacing: -0.36px;
      text-align: right;
    }

    .pj1_skill_desc1,
    .pj1_skill_desc2,
    .pj1_skill_desc3 {
      opacity: 0.4;
      text-align: right;
      letter-spacing: -2%;
      line-height: 21px;
    }
  }

  .pj1_desc {
    display: flex;
    flex-direction: column;
    text-align: right;
    bottom: 0;
    right: 0;
    position: absolute;
    font-family: "nanumSquareNeo";
    line-height: 150%;
  }

  .projecn1_img_slider {
    width: 33.333%;
    height: calc(100vh - 44px);
  }

  .projecn1_img_slider img {
    width: 100%;
    height: calc(100vh - 44px);
    object-fit: cover;
  }
}

/* project2 bookin */

/* 반응형 */
@media (min-width: 1920px) {
  body {
    font-size: 16px;
    /* 최대 폰트 크기를 16px로 제한 */
  }
}
