/* 스크롤바 숨기기 */
body::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
}

#index {
  background-color: #e7e4df;
  width: 100%;
  height: 100vh;
}

#index .top {
  width: 100%;
  height: 50vh;
  background-color: #cccccc4d;
  overflow: hidden;
  position: relative;
}

#index .top span.bo {
  width: 100%;
  height: 140px;
  background-color: #11111131;
  backdrop-filter: blur(10px);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}
#index .top span.to {
  width: 100%;
  height: 140px;
  background-color: #11111131;
  backdrop-filter: blur(10px);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

#index .top h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 17vw;
  line-height: 0.8;
  text-transform: uppercase;
  font-family: "NeoGeoTrial-Black";
  color: #111;
}

#index .bom {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

#index .bom .title {
  width: 100%;
  border-bottom: 1px solid #000;
  height: 44px;
  max-height: 44px;
  font-family: "Abel";
  display: flex;
  align-items: end;
  font-size: 14px;
  padding: 1px 5px;
  z-index: 10000;
  background-color: #e7e4df;
  position: sticky;
  left: 0;
  top: 0;
}
#index .bom .title span {
  flex: 1;
  text-align: center;
}
#index .bom .title span:first-child {
  text-align: left;
}
#index .bom .title span:last-child {
  text-align: right;
}

#index .bom .cont {
  width: 100%;
  height: 46vh;
  display: flex;
  border-bottom: 1px solid #000;
}

#index .bom .left {
  width: 40%;
  height: 100%;
  border-right: 1px solid #000;
  display: flex;
  align-items: end;
  flex-direction: row;
  font-family: "NeoGeoTrial-Regular";
  padding: 1%;
}
#index .bom .left h3 {
  padding-right: 40px;
  font-size: 12px;
  text-transform: uppercase;
  color: #222;
}
#index .bom .left li {
  font-size: 14px;
  line-height: 1.3;
  color: #666;
}
#index .bom .right {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1%;
  font-size: 6vw;
  line-height: 1;
  font-family: "NeoGeoTrial-Light";
}

/* about_info */
.about_info {
  width: 100%;
  height: 50vh;
  background-color: #e7e4df;

  .about_info_wrap {
    padding: 0px 20px 0px 20px;
    width: 100%;
    padding-top: 60px;

    .introduction {
      display: flex;
      flex-direction: column;

      .ainfo_1 {
        font-size: 12vw;
        color: #202020;
        line-height: 86%;
        font-family: "NeoGeoTrial-Light";
      }

      .ainfo_2 {
        font-size: 12vw;
        color: #202020;
        line-height: 86%;
      }
    }
  }
}

#intro_text {
  .ainfo_1 {
    display: block;
    font-size: 12vw;
    color: #202020;
    line-height: 86%;
    position: relative;
    overflow: hidden;
  }

  .ainfo_2 {
    font-size: 12vw;
    color: #202020;
    line-height: 86%;
    position: relative;
    overflow: hidden;
    padding-bottom: 25px;
  }
}

.intro-line {
  position: relative;
  overflow: hidden;
  display: block;
}

.intro-line > * {
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

/* contens */

#contens {
  height: 1100px;
  background-color: #e7e4df;
  border-bottom: 1px solid #202020;
}

#contens .title {
  width: 100%;
  border-bottom: 1px solid #000;
  height: 44px;
  font-family: "Abel";
  display: flex;
  align-items: end;
  font-size: 14px;
  padding: 1px 5px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #e7e4df;
}
#contens .title span {
  flex: 1;
  text-align: center;
}
#contens .title span:first-child {
  text-align: left;
}
#contens .title span:last-child {
  text-align: right;
}

#contens .cont {
  width: 100%;
  height: 60vh;
  display: flex;
}

#contens .left {
  width: 30%;
  height: 100%;
  /* border-right: 1px solid #000; */
  display: flex;
  align-items: end;
  flex-direction: row;
  font-family: "NeoGeoTrial-Regular";
  padding: 1%;
}
#contens .left h3 {
  padding-right: 40px;
  font-size: 12px;
  text-transform: uppercase;
  color: #222;
}
#contens .left li {
  font-size: 14px;
  line-height: 1.3;
  color: #666;
}
#contens .right {
  width: 70%;
  padding: 5% 2%;
  font-family: "NeoGeoTrial-Light";
}
#contens .right > ul {
}
#contens .right > ul > li {
  border-top: 1px solid #000;
  margin-top: 3px;
}

#contens .right > ul > li span {
  margin-top: 30px;
}

#contens .right > ul > li > ul {
  text-align: left;
  width: 50%;
  margin-left: 50%;
  margin-top: -20px;
}

#contens .right > ul > li > ul > li {
  border-top: 1px solid #000;
  padding: 4px 0;
  color: #888;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    color: #e7e4df;
    display: flex;
    align-items: center;
    transform: rotateX(180deg);
    backface-visibility: hidden;
  }

  &:hover {
    transform: rotateX(180deg);
  }
}
#contens .right > ul > li > ul > li:first-child {
  border-top: 0;
}

/* about_me */

#about_me {
  background-color: #e7e4df;
}

#about_me .title {
  width: 100%;
  border-bottom: 1px solid #000;
  height: 44px;
  font-family: "Abel";
  display: flex;
  align-items: end;
  font-size: 14px;
  padding: 1px 5px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #e7e4df;
}
#about_me .title span {
  flex: 1;
  text-align: center;
}
#about_me .title span:first-child {
  text-align: left;
}
#about_me .title span:last-child {
  text-align: right;
}
#about_me .cont {
  display: flex;
  align-items: start;
  border-bottom: 1px solid #000;
}
#about_me .cont .left {
  width: 45%;
  height: 100%;
  border-right: 1px solid #000;
}
#about_me .cont .right {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1%;
  font-size: 6vw;
  line-height: 0.91;
  font-family: "NeoGeoTrial-Light";
}

#about_me .cont .right span {
  line-height: 1.1;
  background-color: linear-gradient(to top, #ccd0f0 50%, transparent 50%);
  width: fit-content;
  z-index: 1;
}

#about_me .cont .right div:nth-child(1),
#about_me .cont .right div:nth-child(2) {
  font-weight: bold;
  font-size: 8vw;
  letter-spacing: -0.02em;
}

#about_me .cont .right div:nth-child(3) {
  font-weight: bold;
  font-size: 7vw;
  letter-spacing: -0.02em;
  border-top: 1px solid #202020;
  padding-top: 20px;
}

#about_me .cont .right div:nth-child(4) {
  font-weight: bold;
  font-size: 5vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  letter-spacing: -0.02em;
}

#about_me .cont .right em {
  color: rgb(252, 150, 47);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000000;
}

#about_me .cont .right div:last-child {
  margin-top: 10px;
}

/* section2 */

#section2 {
  height: 1100px;
  background-color: #e7e4df;
}

#section2 .title {
  width: 100%;
  border-bottom: 1px solid #000;
  height: 44px;
  font-family: "Abel";
  display: flex;
  align-items: end;
  font-size: 14px;
  padding: 1px 5px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #e7e4df;
}
#section2 .title span {
  flex: 1;
  text-align: center;
}
#section2 .title span:first-child {
  text-align: left;
}
#section2 .title span:last-child {
  text-align: right;
}

/* anim_section */

.anim_section {
  background-color: #e7e4df;
  height: 66vh;

  .anim_section_wrap {
    padding: 0px 20px 0px 20px;
    width: 100%;
    padding-top: 60px;
  }
}

#section2 .cont {
  width: 100%;
  height: 60vh;
  display: flex;
}

#section2 .left {
  width: 30%;
  height: 100%;
  /* border-right: 1px solid #000; */
  display: flex;
  align-items: end;
  flex-direction: row;
  font-family: "NeoGeoTrial-Regular";
  padding: 1%;
}
#section2 .left h3 {
  padding-right: 40px;
  font-size: 12px;
  text-transform: uppercase;
  color: #222;
}
#section2 .left li {
  font-size: 14px;
  line-height: 1.3;
  color: #666;
}
#section2 .right {
  width: 70%;
  padding: 5% 2%;
  font-family: "NeoGeoTrial-Light";
}
#section2 .right > ul {
}
#section2 .right > ul > li {
  border-top: 1px solid #000;
  margin-top: 3px;
}

#section2 .right > ul > li span {
  margin-top: 30px;
}

#section2 .right > ul > li > ul {
  text-align: left;
  width: 50%;
  margin-left: 50%;
  margin-top: -20px;
}

#section2 .right > ul > li > ul > li {
  border-top: 1px solid #000;
  padding: 4px 0;
  color: #888;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    color: #e7e4df;
    display: flex;
    align-items: center;
    transform: rotateX(180deg);
    backface-visibility: hidden;
  }

  &:hover {
    transform: rotateX(180deg);
  }
}
#section2 .right > ul > li > ul > li:first-child {
  border-top: 0;
}

/* //section3 */

#section3 .title {
  width: 100%;
  border-bottom: 1px solid #000;
  height: 44px;
  font-family: "Abel";
  display: flex;
  align-items: end;
  font-size: 14px;
  padding: 1px 5px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #e7e4df;
}
#section3 .title span {
  flex: 1;
  text-align: center;
}
#section3 .title span:first-child {
  text-align: left;
}
#section3 .title span:last-child {
  text-align: right;
}

scroll-anim-wrapper {
  position: relative;
}

.scroll-anim-wrapper.overflow-clip {
  height: 1000vh;
}

.overflow-clip {
  overflow: clip;
}

.experiment-content-wrapper text {
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.second_section {
  width: 100%;
  display: flex;
  gap: 1%;
  height: 100vh;
  position: sticky;
  /* 여기를 수정 */
  top: 0;
  /* 섹션이 상단에 고정될 위치 지정 */
  z-index: 10;
  /* 다른 요소들 위에 올라오도록 z-index 조정 */
  background-color: #e7e4df;
}

.second_section:nth-child(2),
.second_section:nth-child(3) {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.projecn1_left_wrap {
  width: 50%;
  height: 100vh;
  display: none;
  opacity: 0;
  z-index: 2;
  padding-left: 20px;
}

.project1_title {
  width: 100%;
  margin-top: 44px;
  position: sticky;
  font-weight: 30;
}

.pr1_codepin,
.pr2_booking {
  font-size: 10vw;
  font-weight: 30;
  line-height: 86%;
}

.pr1_project {
  font-size: 10vw;
  font-weight: 30;
  line-height: 74%;
}

.project1_line_wrap {
  width: 100%;
  margin-top: 2.3vw;
}

.project1_line {
  width: 34vw;
  height: 1px;
  background-color: #000;
}

.project1_line_info {
  width: 34vw;
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  cursor: pointer;
}

.pj_line_title {
  font-size: 1vw;
  font-family: "Roboto";
  font-weight: normal;
  letter-spacing: -0.36px;
  line-height: 22px;
  text-transform: uppercase;
}

.pj_line_arrow img {
  line-height: 22px;
}

.project1_right_wrap {
  width: 16.7777%;
  height: 100vh;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
  opacity: 0;
  display: none;
}

.pj1_skill {
  display: flex;
  flex-direction: column;
  margin-top: 35vw;
}

.pj1_skill_title {
  font-size: 1vw;
  color: #000;
  line-height: 22px;
  letter-spacing: -0.36px;
  text-align: right;
}

.pj1_skill_desc1,
.pj1_skill_desc2,
.pj1_skill_desc3 {
  opacity: 0.4;
  text-align: right;
  letter-spacing: -2%;
  line-height: 21px;
}

.pj1_desc {
  display: flex;
  flex-direction: column;
  text-align: right;
  bottom: 0;
  right: 0;
  position: absolute;
  font-family: "nanumSquareNeo";
  line-height: 150%;
  font-size: 1vw;
}

.projecn1_img_slider {
  width: 33.333%;
  height: calc(100vh - 44px);
}

.projecn1_img_slider img {
  width: 100%;
  height: calc(100vh - 44px);
  object-fit: cover;
}

.img_slide {
  width: 33.333%;
  height: 100vh;
  position: sticky;
  /* sticky 포지션 적용 */
  top: 0px;
  /* 상단에 고정될 위치 설정 */
  display: flex;
  flex-direction: column;
  z-index: 6;

  img {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    object-fit: cover;
  }
}

.img-slider-item {
  width: 100%;
  height: 100vh;
  object-fit: fill;
  position: absolute;
}

.img-slider-item.next {
  top: 100%;
  height: 100vh;
  bottom: auto;
  left: 0%;
  right: 0%;
  z-index: 1;
}

.big-scroll-img {
  z-index: 8;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

@media (min-width: 1920px) {
  body {
    font-size: 16px;
  }
}

.projectimg_1,
.projectimg_2,
.projectimg_3 {
  width: 33.3333%;
  margin-top: 2vw;
  height: 100vh;
}

.projectimg_1 img,
.projectimg_2 img,
.projectimg_3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectimg_1 {
  z-index: 3;
}

.projectimg_2 {
  z-index: 2;
}

.second_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1%;
  z-index: 4;
  position: absolute;
}

/* //class_project_wrap */

#class_project_wrap {
  display: flex;
  width: 300%;
  overflow-x: hidden;
  z-index: 10;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
  }
}

/* //class_project_info */

#class_project_info {
  height: 100vh;
  background-color: #e7e4df;
  border-bottom: 1px solid #202020;
}

#class_project_info .title {
  width: 100%;
  border-bottom: 1px solid #000;
  height: 44px;
  font-family: "Abel";
  display: flex;
  align-items: end;
  font-size: 14px;
  padding: 1px 5px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #e7e4df;
}
#class_project_info .title span {
  flex: 1;
  text-align: center;
}
#class_project_info .title span:first-child {
  text-align: left;
}
#class_project_info .title span:last-child {
  text-align: right;
}

#class_project_info .cont {
  width: 100%;
  height: 50vh;
  display: flex;
}

#class_project_info .left {
  width: 30%;
  height: 100%;
  /* border-right: 1px solid #000; */
  display: flex;
  align-items: end;
  flex-direction: row;
  font-family: "NeoGeoTrial-Regular";
  padding: 1%;
}
#class_project_info .left h3 {
  padding-right: 40px;
  font-size: 12px;
  text-transform: uppercase;
  color: #222;
}
#class_project_info .left li {
  font-size: 14px;
  line-height: 1.3;
  color: #666;
}
#class_project_info .right {
  width: 70%;
  padding: 5% 2%;
  font-family: "NeoGeoTrial-Light";
}
#class_project_info .right > ul {
}
#class_project_info .right > ul > li {
  border-top: 1px solid #000;
  margin-top: 3px;
}

#class_project_info .right > ul > li span {
  margin-top: 30px;
}

#class_project_info .right > ul > li > ul {
  text-align: left;
  width: 50%;
  margin-left: 50%;
  margin-top: -20px;
}

#class_project_info .right > ul > li > ul > li {
  border-top: 1px solid #000;
  padding: 4px 0;
  color: #888;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    color: #e7e4df;
    display: flex;
    align-items: center;
    transform: rotateX(180deg);
    backface-visibility: hidden;
  }

  &:hover {
    transform: rotateX(180deg);
  }
}
#class_project_info .right > ul > li > ul > li:first-child {
  border-top: 0;
}

.class_section {
  width: 100vw;
  width: 100vh;
  background-color: #f0f0f0;
  position: -webkit-sticky;
}

.class_section .title {
  width: 100%;
  border-bottom: 1px solid #000;
  height: 44px;
  font-family: "Abel";
  display: flex;
  align-items: end;
  font-size: 14px;
  padding: 1px 5px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #e7e4df;
}
.class_section .title span {
  flex: 1;
  text-align: center;
}
.class_section .title span:first-child {
  text-align: left;
}
.class_section .title span:last-child {
  text-align: right;
}

.class_section .cont {
  width: 100%;
  height: 50vh;
  display: flex;
}

.class_section .left {
  width: 30%;
  height: 100%;
  /* border-right: 1px solid #000; */
  display: flex;
  align-items: end;
  flex-direction: row;
  font-family: "NeoGeoTrial-Regular";
  padding: 1%;
}
.class_section .left h3 {
  padding-right: 40px;
  font-size: 12px;
  text-transform: uppercase;
  color: #222;
}
.class_section .left li {
  font-size: 14px;
  line-height: 1.3;
  color: #666;
}
.class_section .right {
  width: 70%;
  padding: 5% 2%;
  font-family: "NeoGeoTrial-Light";
}
.class_section .right > ul {
}
.class_section .right > ul > li {
  border-top: 1px solid #000;
  margin-top: 3px;
}

.class_section .right > ul > li span {
  margin-top: 30px;
}

.class_section .right > ul > li > ul {
  text-align: left;
  width: 50%;
  margin-left: 50%;
  margin-top: -20px;
}

.class_section .right > ul > li > ul > li {
  border-top: 1px solid #000;
  padding: 4px 0;
  color: #888;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    color: #e7e4df;
    display: flex;
    align-items: center;
    transform: rotateX(180deg);
    backface-visibility: hidden;
  }

  &:hover {
    transform: rotateX(180deg);
  }
}
.class_section .right > ul > li > ul > li:first-child {
  border-top: 0;
}

/* 컨택 */

#contack {
  width: 100%;
  height: 100vh;
}

.contack__wrap {
  width: 100%;
  height: 100vh;
  background-image: url(../img/contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;

  .comment_aside {
    width: 30%;
    height: 100%;
    position: relative;

    .comment_aside {
      width: 100%;
      background-color: #e3e0db;
      height: 4vw;
      display: flex;
      bottom: 0;
      position: absolute;
      margin-bottom: 8vw;
    }
  }

  .cotack_box {
    width: 48%;
    background-color: #000000;
    height: 100vh;
    position: relative;

    .contack_text {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-weight: 100;
      margin-left: 2.5vw;
      margin-top: 3vw;
      font-family: "Bodoni Moda";

      .contack_text1 {
        font-size: 7vw;
        color: #ffff;
        line-height: 86%;
        font-family: "Bodoni Moda";
      }

      .contack_text2 {
        font-size: 7vw;
        color: #ffff;
        line-height: 86%;
        font-family: "Bodoni Moda";
      }

      .contack_text3 {
        font-size: 1vw;
        color: #ffff;
        line-height: 86%;
        margin-top: 1vw;
        font-family: "Bodoni Moda";
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .comment_box {
      width: 100%;
      background-color: #e3e0db;
      height: 4vw;
      display: flex;
      bottom: 0;
      position: absolute;
      margin-bottom: 8vw;

      .comment_wrap {
        width: 100%;
        border: 1px solid #000;
        position: absolute;
        display: flex;
        height: 41px;
        justify-content: center;
        align-self: center;

        .comment_input {
          width: 88%;
          height: 100%;
          background-color: #e3e0db;
          border: 0;

          &::placeholder {
            padding: 10px;
          }
        }

        .comment_write {
          width: 12%;
          height: 94%;
          background-color: #000;
          color: #ffff;
          border: 0;
          align-self: center;
          margin-right: 1px;
        }
      }
    }
  }

  .cotack_right {
    width: 22%;
    height: 100vh;
    position: relative;

    .comment_right {
      width: 100%;
      background-color: #e3e0db;
      height: 4vw;
      display: flex;
      bottom: 0;
      position: absolute;
      margin-bottom: 8vw;
    }
  }
}

/* footer */

#footer {
  background-color: #000;
}

.footer_wrap {
  overflow: hidden; /* 애니메이션 요소들이 벗어났을 때 잘리도록 설정 */

  /* .footer_line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 4vw;
  } */

  .footer_inner {
    display: flex;
    font-size: 10vw;
    white-space: nowrap; /* 텍스트가 한 줄로 나타나도록 설정 */
    animation: crawling-line 20s linear infinite;

    span {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
      color: transparent;
      text-transform: uppercase;
      line-height: 1.15;
      padding: 4vw;
    }

    span:nth-child(1),
    span:nth-child(5) {
      font-family: "Merriweather";
      font-weight: 500;
    }

    span:nth-child(3),
    span:nth-child(7) {
      font-family: "Bodoni Moda";
      font-style: italic;
      font-weight: 600;
    }
  }
}

@keyframes crawling-line {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
